# --- emacs --------------------------------------------------------------------
local.el
custom.el

# --- leakseek -----------------------------------------------------------------
.leakseek_keyword

# --- Windows ------------------------------------------------------------------
desktop.ini
*.exe
*.lnk
/.agent-shell/
