# --- mac0S --------------------------------------------------------------------
.DS_Store
__MACOSX/
.Trashes
*.tmp

# --- emacs --------------------------------------------------------------------
*~
*#
.#*
\#*\#
.*.swp

# --- R ------------------------------------------------------------------------
.RData
.Rhistory
.Rproj.user/
.Rapp.history
.Ruserdata
.history

# --- Windows ------------------------------------------------------------------
desktop.ini
Thumbs.db
*.exe