# --- emacs --------------------------------------------------------------------
*~
*#
.#*
\#*\#
.*.swp

# --- R ------------------------------------------------------------------------
.RData
.Rhistory
.Rproj.user/
.Rapp.history
.Ruserdata
.history

# --- Logs ---------------------------------------------------------------------
*.log
.claude/

# --- macOS --------------------------------------------------------------------
.DS_Store
__MACOSX/
.Trashes
*.tmp

# --- Windows ------------------------------------------------------------------
desktop.ini
Thumbs.db
*.exe
**/.claude/settings.local.json
